@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#root {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  overflow-x: hidden;
}


html {
  scroll-behavior: smooth;
}



.start-2p {
  font-family: "Press Start 2P", system-ui;
  font-style: normal;
}



.gradient-text {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.section_padding {
  padding: 50px;
}

.btnhover:hover {
  background: black;
  border: 2px solid white;
  color: white;
}

.btnhover {
  transition: all 0.3s ease;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #fff; /* Cursor */
  animation: typing 4s steps(12), blink 0.9s step-end infinite;
  width: fit-content;
}

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  /* iPhone SE (2nd generation) specific styles */
}
